<!DOCTYPE html>
{% load staticfiles %}
    {% load static %}
<html lang="es">
<head>
    <meta charset="UTF-7">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block title %}My Sistema {% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'src/lib/bootstrap/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'src/lib/font-awesome/css/font-awesome.min.css' %}">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'favicon.png' %}"/>

    
    <script type="text/javascript" src="{% static 'src/lib/vue/vue_.js'%}" ></script>
    <script type="text/javascript" src="{% static 'src/lib/React/react-dom.production.min.js' %}" ></script>
    <script type="text/javascript" src="{% static 'src/lib/React/react.production.min.js' %}" ></script>
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top" style="background: #125391">
  <div class="container-fluid">
    <div class="navbar-header" >
      <button style="color:#FFF" type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" style="color:#FFF" href="/">My Sistema</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="{% if request.path  == '/'  %}active{% else%} {% endif %}">
          <a  style="color:#FFF" href="/">Inicio</a>
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown"  style="color:#FFF">
            Administracion 
            <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li class="{% if request.path  == '/usuarios/'  %}active{% else%} {% endif %}">
                <a href="/usuarios">Usuarios</a>
              </li>
            </ul>
        </li>   
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown"  style="color:#FFF">
              Comercio 
              <span class="caret"></span></a>
              <ul class="dropdown-menu">
                  <li class="{% if request.path  == '/Compras/'  %}active{% else%} {% endif %}">
                    <a href="/Compras">Compras</a>
                  </li>
                <li class="{% if request.path  == '/Ventas/'  %}active{% else%} {% endif %}">
                  <a href="/Ventas">Ventas</a>
                </li>
                <li class="{% if request.path  == '/Productos/'  %}active{% else%} {% endif %}">
                  <a href="/Productos">Productos</a>
                </li>
              </ul>
        </li>  
        <li class="{% if request.path  == '/about/'  %}active{% else%} {% endif %}">
          <a href="/about"  style="color:#FFF">Acerca</a>
        </li>   
      </ul>
      <ul class="nav navbar-nav navbar-right">
        {% if request.session.id_usuario > 0 %}
                   : 
                  <li><a style="color:#FFF" class="fa fa-user">   {{request.session.usuario}}</a></li>
                <li><a style="color:#FFF;background: red" href="/login"><i class="fa fa-sign-out"> Salir</i>.</a></li>
                {% else %}
                <li class="{% if request.path  == '/login/'  %}active{% else%} {% endif %}">
                  <a href="/login">Inicio Sesion</a>
                </li>
            {% endif %}
      </ul>
    </div>
  </div>
</nav>
<div class="container" id="contenedor" style="margin-top:60px"  style="background-color: #9fabb6;min-height: 90%">

    {% block content %}{% endblock %}
</div>
<footer style="float: right;padding: 20px">
  By elgael06
</footer>
</body>
<style>
  #contenedor>div{
    min-height: 100%;
    border: solid 1px #125391;
  }
</style>
<script type="text/javascript" src="{% static 'src/lib/JQuery/jquery-3.4.1.min.js' %}" ></script>
    <script type="text/javascript" src="{% static 'src/lib/bootstrap/bootstrap.js' %}" ></script>
</html>